<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap" rel="stylesheet">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <link rel="preload" href="{{ site.baseurl }}/public/LogoHeader.png" as="image">
  <link rel="preload" href="{{ site.baseurl }}/public/stars.png" as="image">
  <link rel="preload" href="{{ site.baseurl }}/public/backgrounds/dawnstar.png" as="image">
  <link rel="preload" href="{{ site.baseurl }}/public/backgrounds/riverwood.png" as="image">
  <link rel="preload" href="{{ site.baseurl }}/public/backgrounds/snowstatue.png" as="image">
  <link rel="preload" href="{{ site.baseurl }}/public/backgrounds/whiterun.png" as="image">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  {% if page.url and site.baseurl %}
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  {% endif %}

  <link rel="stylesheet" href="{{ '/public/css/poole.css' | absolute_url }}">
  <link rel="stylesheet" href="{{ '/public/css/syntax.css' | absolute_url }}">
  <link rel="stylesheet" href="{{ '/public/css/lanyon.css' | absolute_url }}">
  <link rel="stylesheet" href="{{ '/public/css/wotn.css' | absolute_url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ '/public/apple-touch-icon-precomposed.png' | absolute_url }}">
  <link rel="shortcut icon" href="{{ '/public/favicon.ico' | absolute_url }}">
</head>
